*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    background-color: #FAFAFA;
}
h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

}
.container {
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
.header-inner {
    display: flex;
    flex-direction: column;
}
.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}
.text-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
    gap: 12px;
}
.text-wrapper img {
    margin-top: 4px;
}
.text-wrapper p{
    max-width: 50%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    text-align: justify;
}
.img-wrapper img {
    max-width: 100%;
    margin-top: 34px;
}
.intro {
    margin-top: 48px;
}

.intro h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 32px;
}
.intro h3 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0;
}
.intro li {
    max-width: 85%;
    margin-bottom: 18px;
}
.intro label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.ingredients-wrapper {
    padding: 0 3px;
}
.ingredients {
    width: 80%;
}
.icons-wrapper {
    padding: 57px 54px 57px 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    float: right;
}
.responsive-below {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}
.orange-icon {
    color: Orange;
}
.intro-inner span {
    font-weight:bold;
}
.icon-text-wrapper p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.gray{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}
input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-right: 10px;
}

.instruction-inner {
    width: 65%;
}
.instruction-title {
    margin: 28px 0;
}
.instruction-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 38px;
}
.order {
    padding: 2px 13px;
    background: #F2994A;
    color: #FFFFFF;
    border-radius: 6px;
}
.instruction-item span {
    font-weight: bold;
}
.source-link, a {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
    transition: all 0.3s;
}
.instruciton-link {
    transition: all 0.3s;
}
.instruciton-link:hover p, .instruciton-link:hover a {
    color:#333333;
}
footer {
    margin-top: 93px;
}
footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding: 24px 0;
}
@media only screen and (max-width: 1050px) {
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .header-inner {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 650px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }
    .text-wrapper {
        padding-right: 20px;
    }
    .text-wrapper p {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #4F4F4F;
        text-align: left;
        max-width: 100%;
    }
    .icons-wrapper {
        float: none;
        border: none;
        box-shadow: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .icon-wrapper p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;

    }
    .responsive-below {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .icon-wrapper {
        gap: 3px;
    }
    .ingredients {
        width: 100%;
        margin: 0 auto;
    }
    .instruction-inner {
        width: 100%;
    }
    .footer p {
        padding: 24px 8px;
    }
    .ingredients h2 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
    .ingredients h3 {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    .intro label {
        font-size: 16px;
    }
    .source-link, a {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }
    .instruciton-link {
        justify-content: center;
    }
}